body {
    font-family: Roboto, sans-serif;
    /*display: flex;
    flex-direction: column;*/
}

.smolimg {
    width: 100px;
    height: 100px;
}

.logo {
    width: 50px;
    height: 50px;
}

.header {
    height: 68px;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.bigimage {
    display: block;
    max-width: 600;
    max-height: 300;
    width: auto;
    height: auto;
}

.uppercontainer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    height: 200px;
    margin: 0;
}

.textheader {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.herotext {
    font-size: 18px;
    color: #e5e7eb;
}

.signup {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 15px;
    width: 100px;
    height: 50px;
}

.leftcontainer {
    width: 700px;
}

.lowercontainer {
    padding-top: 50px;
    padding-bottom: 100px;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.infoheader {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding-bottom: 40px;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    font-style: italic;
    padding: 100px;
}

.footer {
    padding: 40px;
}
.footerbox {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 15px;
    width: 700px;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
    display: flex;
    gap: 100px;
}

