body {
    font-family: Roboto, sans-serif;
    display: flex;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    padding: 18px;
}